.dart_tool/
.idea/
.vscode/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
ios/
android/
macos/
linux/
windows/
coverage/
test/
*.iml
*.log
.DS_Store
Dockerfile
.dockerignore
.gitignore
README.md
